**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# SQLite database
*.db

# SQLite executables
sql*.exe

# SQLite JDBC driver
sqlite-jdbc*.jar

# macOS Finder
.DS_Store
